<!DOCTYPE html>
<html lang="en">

<head>
<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>



  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet">
  <title>Music Lover</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


  <style>
    .banner-image {
      background-image: url('/media/images/headphones-in-pastel-pink-and-blue_2560x1440_xtrafondos.com.jpg');
      background-size: cover;
    }
  </style>

  <style>
    
    .feedback {
      background-color: pink;
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      border-color: pink;
      border-radius: 100%;
    }

    #mybutton {
      position: fixed;
      bottom: 35px;
      right: 35px;
    }


    .fancy_list li {
      line-height: 1.5em;
      height: auto;
    }

    .boody {

      background: fixed;
      background-image: url('https://t4.ftcdn.net/jpg/02/74/77/35/360_F_274773563_zOhj4BISY2sF39FQ131LWF2LXC5eL6TA.jpg');
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .search-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: papayawhip;
      height: 55px;
      border-radius: 40px;
      padding: 10px;
    }

    .search-box:hover>.search-txt {
      width: 240px;
      padding: 0 6px;
    }

    .search-box:hover>.search-btn {
      background: white;
    }

    .search-btn {
      color: brown;
      float: right;
      width: 40px;
      height: 38px;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;
    }

    .search-txt {
      border: none;
      background: none;
      float: left;
      padding: 0;
      color: rgb(0, 0, 0);
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
      width: 0px;
    }
  </style>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Palette+Mosaic&display=swap" rel="stylesheet">

  
<link rel="stylesheet" href="sweetalert2.min.css">
<style>
   
</style>

</head>

<body>
  {% load static %}
  <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/musicbeats/songs">All Songs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


  -->



  <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">

      <a class="navbar-brand" href="/" style="font-family:'Kanit', sans-serif; font-size:x-large;"><i
          class="fa-solid fa-music"></i> Music Lover</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



      <form method="get" action="/musicbeats/search">
        <div class="search-box">
      <input name="query" class="search-txt" type="text" id="query" placeholder="Type to search">
      <a class="search-btn" href="#">
        <img src="/media/images/search.png" />

      </a>
    </div>
    </form>



      <div class="kk" style="font-family: 'Kanit', sans-serif; font-size:medium;">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mx-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="/"><i class="fa-solid fa-house-chimney"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/musicbeats/songs"> <i class="fa-solid fa-guitar"></i> All Song</a>
            </li>



            <li class="nav-item dropdown text-white active">
              <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa-solid fa-headphones"></i>
                Singer</a>
              <div class="dropdown-menu">
                <a href="/musicbeats/singer" class="dropdown-item">Arijit Singh</a>
                <a href="/musicbeats/neha" class="dropdown-item">Neha kakkar</a>
                <a href="/musicbeats/sonu" class="dropdown-item">Sonu Nigam</a>
                <a href="/musicbeats/dhillon" class="dropdown-item">A P Dhillon</a>
                <div class="dropdown-divider"></div>
                <a href="/musicbeats/songs" class="dropdown-item">All Song</a>
              </div>
            </li>
            <li class="nav-item dropdown text-white active">
              <a href="/musicbeats/login" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa-solid fa-fire"></i>
                LogIn</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginmodal">LogIn</a>
                <a href="/musicbeats/logout" class="dropdown-item">LogOut</a>

              </div>
            </li>







          </ul>
        </div>
      </div>
    </div>
    </div>




  </nav>






  <!-- Banner Image  -->
  <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center">
      <h1 class="text-white" style="font-family: 'Palette Mosaic', cursive; font-size: 50px;"> MUSIC LOVER</h1>
    </div>
  </div>
 
  





  <!-- sign up Modal -->
  <div class="modal fade" id="signupmodal" tabindex="-1" aria-labelledby="signupmodal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-image: url('https://cdn.wallpapersafari.com/5/29/lnI7iq.jpg') ;">
        <div class="modal-header">
          <h5 class="modal-title" id="signupmodaltitle">Sign Up Here</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="container">
            <form class="row g-3" method="post" action="/musicbeats/signup">{% csrf_token %}
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="Deepankar" aria-label="First name"
                  name="firstname">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Tiwari" aria-label="Last name" name="lastname">
              </div>





              <div class="mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-12">
                  <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="abc@gmail.com">
                </div>
              </div>
              <div class="mb-3">
                <div class="col-sm-12">
                  <label for="inputEmail3" class="form-label"> User Name</label>
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                      aria-describedby="addon-wrapping" name="username">
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="col-sm-12">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" placeholder="Abc****" id="pass1" name="pass1">
                </div>
              </div>

              <!--
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="pass2">
            </div>
            -->

              <div class="col-12">
                <button type="submit" class="btn btn-outline-danger btn-lg btn-block">Sign Up</button>
              </div>
            </form>
          </div>


        </div>

      </div>
    </div>
  </div>












  <!-- LogIn  Modal -->
  <div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"
        style="background-image: url('https://media.istockphoto.com/vectors/light-blue-coloured-checkered-grunge-vector-backgrounds-with-narrow-vector-id1283467210?k=20&m=1283467210&s=612x612&w=0&h=VT74xNvf7IvGOH0sV4uyySFoeP8vFxbTxY6qzbne0kY=');">
        <div class="modal-header">
          <h5 class="modal-title" id="loginmodaltitle">LogIn Here</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="container">
            <form class="row g-3" method="post" action="/musicbeats/login">
              <div class="mb-3">
                {% csrf_token %}
                <div class="col-sm-12">
                  <label for="inputEmail3" class="form-label"> User Name</label>
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" id="loginusername" class="form-control" placeholder="Username"
                      aria-label="Username" aria-describedby="addon-wrapping" name="username">
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="col-sm-12">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" placeholder="Abc****" id="exampleInputPassword1"
                    name="password" id="password">
                </div>
              </div>

              <!--
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="pass2">
            </div>
            -->

              <div class="col-12">
                <button type="submit" class="btn btn-outline-primary btn-lg btn-block">LogIn</button>
              </div>
            </form>
          </div>


        </div>

      </div>
    </div>
  </div>


  <div id="mybutton">
    <button class="feedback" type="button" class="btn btn-primary mx-2" data-bs-toggle="modal"
      data-bs-target="#signupmodal"><i class="fa-solid fa-address-book"></i></button>
  </div>




  <!--
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{% static 'musicbeats/img-6.jpg'%}"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>“Music is the shorthand of emotion.”</h5>
            <p>Music is life itself.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'musicbeats/img-5.jpg'%}"
            class="d-block w-100 "
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>“Music is the wine that fills the cup of silence.”</h5>
            <p>Music is life itself.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'musicbeats/img-7.jpg'%}"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>“Life is one grand, sweet song so start the music.”</h5>
            <p>Music is life itself.</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
-->








  <!-- card -->
  <!-- card -->






  <!-- {% if user.is_authenticated %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hi!</strong> {{request.user}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endif%}
-->

  <div class="boody">

    
    <br>
    <br>
    <!--card1-->
    <div class="container text-center" style="padding: 2%">
      <h2 style="letter-spacing: 2px; font-family: 'Kanit', sans-serif; ">
        <i class="fa-solid fa-heart fa-beat"></i>
        Trending Songs
        <i class="fa-solid fa-heart fa-beat"></i>
      </h2>
      <div class="container" style="padding-top: 10px">
        <div class="row">
          <div id="carousel4" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-none d-lg-block">
                  <div class="slide-box">
                    <div class="row ">
                      {%for i in song %}
                      {% if forloop.counter < 4 %} <div class="col-4">
                        <img src="/media/{{i.image}}" alt="First slide" style="height: 150px; padding-left: 5%;">
                        <h3 class="" style="padding-top: 5%;">{{i.name}}</h3>
                        <h4 class="" style="padding-bottom: 3%;">{{i.tags }}</h4>
                        <a href="/musicbeats/songs/{{i.song_id}}"><button class="btn btn-outline-danger btn-lg">Play
                            Now</button></a>
                    </div>
                    {%endif%}
                    {%endfor%}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-none d-lg-block">

                <div class="slide-box">
                  <div class="row padding-left: 4%">
                    {%for i in song %}
                    {% if forloop.counter > 3 and forloop.counter < 7 %} <div class="col-4">
                      <img src="/media/{{i.image}}" alt="First slide" style="height: 150px; padding-left: 5%;">
                      <h3 style="padding-top: 5%;">{{i.name}}</h3>
                      <h4 style="padding-bottom: 3%;">{{i.tags }}</h4>
                      <a href="/musicbeats/songs/{{i.song_id}}">
                        <button class="btn btn-outline-danger btn-lg">Play Now</button></a>
                  </div>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
              <div class="d-block d-sm-none">
                <img class="d-block w-100" src="https://picsum.photos/600/400/?image=1&random" alt="Second slide">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel4" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel4" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <ol class="carousel-indicators fancy_list">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
        </ol>

      </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!--card2-->
    <div class="container text-center" style="padding: 2%">
      <h2 style="letter-spacing: 2px; font-family: 'Kanit', sans-serif; ">

        <i class="fa-brands fa-napster"></i> HollyWood Songs <i class="fa-brands fa-napster"></i>
      </h2>
      
      <div class="container" style="padding-top: 10px">
        <div class="row">
          <div id="carousel3" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-none d-lg-block">
                  <div class="slide-box">
                    <div class="row ">
                     
                      {%for i in song %}
                      {% if forloop.counter < 17 %}
                      {%if i.type in 'Holly wood'%} <div class="col-4">
                        <img src="/media/{{i.image}}" alt="First slide" style="height: 150px; padding-left: 5%;">
                        <h3 class="" style="padding-top: 5%;">{{i.name}}</h3>
                        <h4 class="" style="padding-bottom: 3%;">{{i.tags }}</h4>
                        <a href="/musicbeats/songs/{{i.song_id}}"><button class="btn  btn-lg btn-outline-danger">Play
                            Now</button></a>
                    </div>
                    {%endif%}
                    {%endif%}
                    {%endfor%}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-none d-lg-block">

                <div class="slide-box">
                  <div class="row ">
                    
                    {%for i in song %}
                    {% if forloop.counter > 16  %}
                    {%if i.type in 'Holly wood'%}
                    <div class="col-4">
                      <img src="/media/{{i.image}}" alt="First slide" style="height: 150px; padding-left: 5%;">
                      <h3 style="padding-top: 5%;">{{i.name}}</h3>
                      <h4 style="padding-bottom: 3%;">{{i.tags }}</h4>
                      <a href="/musicbeats/songs/{{i.song_id}}">
                        <button class="btn  btn-lg btn-outline-danger">Play Now</button></a>
                  </div>
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
              <div class="d-block d-sm-none">
                <img class="d-block w-100" src="https://picsum.photos/600/400/?image=1&random" alt="Second slide">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <ol class="carousel-indicators fancy_list">
          <li data-target="#carousel3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel3" data-slide-to="1"></li>
        </ol>


      </div>
    
    </div>

    <br>
    <br>

    <br>
    <br>

<!--card3-->
    <div class="container text-center" style="padding: 2%">
      <h2 style="letter-spacing: 2px; font-family: 'Kanit', sans-serif; ">
        <i class="fa-solid fa-face-grin-hearts"></i>
        Lofi Songs
        <i class="fa-solid fa-face-grin-hearts"></i>
      </h2>
      <div class="container" style="padding-top: 10px">
        <div class="row">
          <div id="carousel2" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-none d-lg-block">
                  <div class="slide-box">
                    <div class="row ">
                      {%for i in song %}
                      {% if forloop.counter < 8 %} 
                      {% if i.tags in 'Lofi Song' %}
                      <div class="col-4">
                        <img src="/media/{{i.image}}" alt="First slide" style="height: 150px; padding-left: 5%;">
                        <h3 class="" style="padding-top: 5%;">{{i.name}}</h3>
                        <h4 class="" style="padding-bottom: 3%;">{{i.tags }}</h4>
                        <a href="/musicbeats/songs/{{i.song_id}}"><button class="btn btn-lg btn-outline-danger">Play
                            Now</button></a>
                    </div>
                    {%endif%}
                    {%endif%}
                    {%endfor%}
                  </div>

                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-none d-lg-block">

                <div class="slide-box">
                  <div class="row ">
                    {%for i in song %}
                    {% if forloop.counter > 8  %}
                    {% if i.tags in 'Lofi Song' %}
                     <div class="col-4">
                      <img src="/media/{{i.image}}" alt="First slide" style="height: 150px; padding-left: 5%;">
                      <h3 style="padding-top: 5%;">{{i.name}}</h3>
                      <h4 style="padding-bottom: 3%;">{{i.tags }}</h4>
                      <a href="/musicbeats/songs/{{i.song_id}}"><button class="btn btn-lg btn-outline-danger">Play
                          Now</button></a>
                  </div>
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                </div>

              </div>



              <div class="d-block d-sm-none">
                <img class="d-block w-100" src="https://picsum.photos/600/400/?image=1&random" alt="Second slide">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <ol class="carousel-indicators fancy_list">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
        </ol>

      </div>

    </div>

  </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>



  <script type="text/javascript">
    var nav = document.querySelector('nav');

    window.addEventListener('scroll', function () {
      if (window.pageYOffset > 100) {
        nav.classList.add('bg-dark', 'shadow');
      } else {
        nav.classList.remove('bg-dark', 'shadow');
      }
    });
  </script>

<!--alertify JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
{%if user.is_authenticated %}
 
 

<script>
   alertify.set('notifier','position', 'top-left');
 alertify.success('Hi!  ' + '{{request.user}}');
</script>
{%endif%}


<script src="https://kit.fontawesome.com/1abfa2d149.js" crossorigin="anonymous"></script>
  <script src="sweetalert2.min.js"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>